# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

.vagrant/
/sims/web/bundles/
/sims/app/bootstrap.php.cache
/sims/app/cache/*
/sims/app/config/parameters.yml
/sims/app/logs/*
!sims/app/cache/.gitkeep
!sims/app/logs/.gitkeep
/sims/app/phpunit.xml
/sims/build/
/sims/vendor/
/sims/bin/
/sims/composer.phar

node_modules/
sims/web/assets/*
sims/vendor/*